/* Variables */
/* Mixins */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#skip-to-content {
  position: absolute;
  top: -50px;
  left: -50px;
  padding: 8px 12px;
  background-color: #ed7d31;
  color: #f6f1ee;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  z-index: 99;
}

#skip-to-content:focus {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

/* Start of Header*/
header {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding: 0 25px;
  z-index: 99;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  height: 100%;
}
header .navbar .nav-brand {
  color: #f6f1ee;
}
header .navbar .nav-brand span {
  color: #ed7d31;
}
header .navbar .nav-links {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: max-content;
  padding: 30px 0;
  display: none;
  background-color: #4f4a45;
  list-style: none;
  transition: all 0.2s ease-in-out;
}
header .navbar .nav-links .nav-links_item a {
  text-decoration: none;
  color: #f6f1ee;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
header .navbar .nav-links .nav-links_item a:hover {
  color: #ed7d31;
}
header .navbar .nav-btn {
  padding: 4px;
  color: #f6f1ee;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
header .navbar.active .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  transform: translateY(80px);
}

header:has(.navbar.active) {
  background-color: #4f4a45;
}

/* End of Header */
/* Start of Main */
main {
  width: 100%;
}
main .hero {
  width: 100%;
  height: 100vh;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  background-image: url("../public/images/hero-image_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 30%;
}
main .hero_description {
  color: #f6f1ee;
}
main .hero_description p {
  font-size: 1.2rem;
}
main .hero_description h1 {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
main .hero_description h1 span {
  color: #ed7d31;
  font-weight: 700;
}
main .hero button {
  padding: 10px 8px;
  color: #f6f1ee;
  background-color: #ed7d31;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border: #ed7d31 1px solid;
  transition: all 0.1s ease-in-out;
}
main .hero button:hover {
  color: #ed7d31;
  background-color: #f6f1ee;
  border: #ed7d31 1px solid;
}
main .hero button:active {
  background-color: #ccc7c4;
}
main .top-kitchen {
  width: 100%;
  padding: 36px 25px;
}
main .top-kitchen_title {
  color: #ed7d31;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
main .top-kitchen_title span {
  color: #4f4a45;
}
main .top-kitchen_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  padding: 24px 0;
}
main .top-kitchen_list .top-kitchen_item {
  border: #4f4a45 3px solid;
  border-radius: 8px;
  position: relative;
  background-color: #f6f1ee;
}
main .top-kitchen_list .top-kitchen_item .top-kitchen_item_rating {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px;
  background-color: #4f4a45;
  color: #f6f1ee;
  font-size: 0.8rem;
  border-bottom-left-radius: 4px;
}
main .top-kitchen_list .top-kitchen_item .top-kitchen_item_rating i {
  color: #ffce31;
}
main .top-kitchen_list .top-kitchen_item .top-kitchen_item_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
main .top-kitchen_list .top-kitchen_item .top-kitchen_item_description {
  padding: 8px 16px;
  margin-bottom: 6px;
}
main .top-kitchen_list .top-kitchen_item .top-kitchen_item_description .kitchen-name {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ed7d31;
}
main .top-kitchen_list .top-kitchen_item .top-kitchen_item_description .kitchen-city {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 10px;
  color: #6c5f5b;
}
main .about {
  width: 100%;
  padding: 24px 25px;
  background-color: #6c5f5b;
}
main .about_title {
  color: #f6f1ee;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
main .about_title span {
  color: #ed7d31;
}
main .about_description {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 12px;
  padding: 12px 0;
  grid-template-areas: "img content" "feature feature";
}
main .about_description .about_description_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
}
main .about_description .about_description_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
  grid-area: content;
}
main .about_description .about_description_content p {
  color: #f6f1ee;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
}
main .about_description .about_description_content p span {
  font-size: 1.5rem;
}
main .about_description .about_description_content button {
  padding: 6px 12px;
  color: #f6f1ee;
  background-color: #ed7d31;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  border: #ed7d31 1px solid;
  transition: all 0.1s ease-in-out;
}
main .about_description .about_description_content button:hover {
  color: #ed7d31;
  background-color: #f6f1ee;
  border: #ed7d31 1px solid;
}
main .about_description .about_description_content button:active {
  background-color: #ccc7c4;
}
main .about_description .about_description_feature {
  grid-area: feature;
  justify-self: center;
  margin-top: 8px;
}
main .about_description .about_description_feature span {
  padding: 6px 10px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ed7d31;
  background-color: #f6f1ee;
  border: #ed7d31 1px solid;
  border-radius: 16px;
}
main .all-kitchen {
  width: 100%;
  padding: 36px 25px;
}
main .all-kitchen_title {
  color: #ed7d31;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
main .all-kitchen_title span {
  color: #4f4a45;
}
main .all-kitchen_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  padding: 24px 0;
}
main .all-kitchen_list .all-kitchen_item {
  border: #4f4a45 3px solid;
  border-radius: 8px;
  position: relative;
  background-color: #f6f1ee;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_rating {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px;
  background-color: #4f4a45;
  color: #f6f1ee;
  font-size: 0.8rem;
  border-bottom-left-radius: 4px;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_rating i {
  color: #ffce31;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_description {
  padding: 8px 16px;
  margin-bottom: 6px;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_description .kitchen-name {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ed7d31;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_description .kitchen-city {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 10px;
  color: #6c5f5b;
}
main .all-kitchen_list .all-kitchen_item .all-kitchen_item_description .kitchen-description {
  font-size: 1rem;
  font-weight: 300;
  color: #6c5f5b;
  margin-top: 8px;
}

/* End of Main */
/* Start of Footer */
footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: #6c5f5b;
}
footer p {
  color: #f6f1ee;
}
footer p span {
  color: #ed7d31;
}

/* End of Footer */
/* Start of Media Query */
@media screen and (min-width: 768px) {
  /* Start of Header Query */
  header {
    padding: 0 56px;
  }
  header .navbar .nav-links {
    width: 100%;
    position: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    background-color: transparent;
  }
  header .navbar .nav-btn {
    display: none;
  }
  /* End of Header Media Query */
  /* Start of Main Query */
  main {
    /* Start of Hero Section Query */
    /* End of Hero Section Query */
    /* Start of Top Kitchen Query */
    /* End of Top Kitchen Query */
    /* Start of About Section Query */
    /* End of About Section Query */
    /* Start of All Kitchen Query */
    /* End of All Kitchen Query */
  }
  main .hero {
    padding: 0 56px;
    gap: 120px;
    background-position-x: 10%;
  }
  main .hero_description {
    text-align: center;
  }
  main .hero_description h1 {
    text-align: center;
  }
  main .top-kitchen {
    padding: 36px 56px;
  }
  main .top-kitchen_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  main .about {
    padding: 36px 56px;
  }
  main .about_description .about_description_content p {
    font-size: 1rem;
    line-height: normal;
  }
  main .about_description .about_description_content p span {
    font-size: 1.8rem;
  }
  main .about_description .about_description_feature span {
    padding: 8px 12px;
    margin: 0 8px;
    font-size: 12px;
  }
  main .all-kitchen {
    padding: 36px 56px;
  }
  main .all-kitchen_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  /* End of Main Query */
}
@media screen and (min-width: 1024px) {
  /* Start of Header Query */
  header {
    padding: 0 80px;
  }
  header .navbar .nav-brand {
    font-size: 2rem;
  }
  header .navbar .nav-links .nav-links_item a {
    font-size: 1.2rem;
  }
  /* End of Header Query */
  /* Start of Main Query */
  main {
    /* Start of Hero Section Query */
    /* End of Hero Section Query */
    /* Start of Top Kitchen Query */
    /* End of Top Kitchen Query */
    /* Start of About Section Query */
    /* End of About Section Query */
    /* Start of All Kitchen Section Query */
    /* End of Kitchen Section Query */
  }
  main .hero {
    padding: 0 80px;
    gap: 100px;
  }
  main .hero_description p {
    font-size: 1.6rem;
  }
  main .hero_description h1 {
    font-size: 2.6rem;
  }
  main .hero button {
    padding: 12px 10px;
    color: #f6f1ee;
    background-color: #ed7d31;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  main .top-kitchen {
    padding: 36px 80px;
  }
  main .top-kitchen_title {
    font-size: 2rem;
    font-weight: 600;
  }
  main .top-kitchen_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  main .top-kitchen_list .top-kitchen_item .top-kitchen_item_description .kitchen-name {
    font-size: 1.4rem;
  }
  main .top-kitchen_list .top-kitchen_item .top-kitchen_item_description .kitchen-city {
    font-size: 14px;
  }
  main .about {
    padding: 24px 80px;
  }
  main .about_title {
    font-size: 2rem;
    font-weight: 600;
  }
  main .about_description {
    padding: 24px 0;
  }
  main .about_description .about_description_content p {
    font-size: 1.2rem;
    line-height: normal;
  }
  main .about_description .about_description_content p span {
    font-size: 2.2rem;
  }
  main .about_description .about_description_content button {
    padding: 8px 14px;
    color: #f6f1ee;
    background-color: #ed7d31;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 24px;
  }
  main .about_description .about_description_feature {
    margin-top: 24px;
  }
  main .about_description .about_description_feature span {
    padding: 10px 14px;
    margin: 0 10px;
    font-size: 14px;
  }
  main .all-kitchen {
    padding: 36px 80px;
  }
  main .all-kitchen_title {
    font-size: 2rem;
    font-weight: 600;
  }
  main .all-kitchen_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  main .all-kitchen_list .all-kitchen_item .all-kitchen_item_description .kitchen-name {
    font-size: 1.4rem;
  }
  /* End of Main Query */
}
/* End of Media Query *//*# sourceMappingURL=main.css.map */